---
import { Content } from "./About.md"
import styles from "./About.module.css"
---

<section class={styles.about}>
  <h2>TL;DR</h2>

  <div class={styles.content}>
    <Content />
  </div>
</section>
