---
import styles from "./Example.module.css"
---

<hr class={styles.divider} />
<section class={styles.example}>
  <h2>Visual Example</h2>
  <div class={styles.pen}>
    <p class="codepen" 
        data-height="480" 
        data-default-tab="result" 
        data-slug-hash="rNRBJzq" 
        data-preview="true" 
        data-user="JuditKaramazov" 
        style="height: 480px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        
        <span>See the Pen <a href="https://codepen.io/JuditKaramazov/pen/rNRBJzq">
        Interpolation example</a> by Judit Karamazov (<a href="https://codepen.io/JuditKaramazov">@JuditKaramazov</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
  </div>
</section>
