---
import styles from "./Footer.module.css"
import GitHubIcon from "../Icons/GitHub.svelte"
---

<footer class={styles.footer}>
<img class={styles.logo} src="/img/christMazov.gif" alt="Animated Christmas-style Karamazov logo." />
<a href="https://github.com/JuditKaramazov/TCA-clampculate"
  class={styles.githubLink}
  target="_blank"
  rel="noopener noreferrer">
  <GitHubIcon />
    View on GitHub
</a>
<p>© 2023 
    <a href="https://karamazfolio.xyz" target="_blank" rel="noopener noreferrer">
      judit lázaro moyano
    </a>
</p>
</footer>
